<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds" debug="true">

   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>%header{X-Forwarded-For} %clientHost [%date{dd-MMM-yyyy HH:mm:ss.SSS}] "%requestURL" "%header{Referer}" "%header{User-Agent}" %statusCode %bytesSent %elapsedTime</pattern>
      </encoder>
   </appender>

   <appender-ref ref="STDOUT" />

</configuration>
