<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds">

    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MMM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{40} %X{camel.correlationId} - %msg%n%ex{5}</pattern>
        </encoder>
    </appender>

    <logger name="com.netflix.config.AbstractPollingScheduler" level="OFF" />
    <logger name="com.codahale.metrics.servlet" level="OFF" />
    <logger name="com.rmg.camel.metrics.ConfigurableCodaHaleMetricFilter" level="WARN" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>